{{- define "main" -}}

{{ partial "page_header.html" . }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141271444-1"></script>
<script>
  console.log("This is my function 2");
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141271444-1');
</script> -->

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <div>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="article-style">
      {{ if .Params.summary }}
      {{ .Params.summary | plainify | emojify }}
      {{ else if .Params.abstract }}
      {{ .Params.abstract | plainify | emojify | truncate 250 }}
      {{ else if .Summary }}
      {{ .Summary | plainify | emojify }}
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
